@charset "UTF-8";
/* -------------------------------------CSS Custom Properties------------------------- */
:root {
  --main-title-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --main-accent-color: #2196f3;
  --logo-color: #000000;
  --footer-contacts-color: #ffffff99;
  /* --main-background-color: #e5e5e5; */
  --secondary-background-color: #ffffff;
  --header-color: #ffffff;
  --footer-color: #2f303a;
  --background-section: #f5f4fa;
  --first-button-color: #f5f4fa;
  --second-button-color: #2196f3;
  --card-border-color: #eeeeee;
  --project-item-gap: 30px;
  --social-network-main-color: #afb1b8;
  --social-network-accent-color: #ffffff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------------Service Classes--------------------------------------------*/
/* NEW Utility !!! should be first/higher in the document  */
.list {
  /* ressets all the things given/set by browser */
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid blue; */
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  /* ok? */
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* --------------------------------Main Selectors------------------------------------- */
button {
  cursor: pointer;
}

body {
  /* margin: 0; */
  background-color: var(--secondary-background-color);
  font-family: "Roboto", sans-serif;
  /* font-style: normal; */
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* general resset of styles to do less work in each section  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------------------------Header--------------------------------------------- */
.header {
  background-color: var(--header-color);
  border-bottom: 1px solid #ececec;
}

.nav-holder {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  /* выравниваем относительно поперечной оси, то есть высоты*/
  align-items: center;
  /*растягиваем по нужным сторонам  */
  justify-content: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  word-spacing: -6px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-web {
  color: var(--main-accent-color);
}

.header-studio {
  color: var(--logo-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

/* очистка крайней геометрии: один из вариантов .header-item: last child {
  margin-right: 0;/* .header-item+header-item{
  margin-left: 40px; или как я сделала  */
.header-item:not(:last-child) {
  margin-right: 40px;
}

/* ссылка - строчный элемент, чтобы работали паддинги, надо сделать ее блочной или строчно-блочной, но там тогда зазор справа */
.header-link {
  /* geometry */
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  /* font + stiles  */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  /* decore */
  position: relative;
  transition: color 250ms var(--timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--main-accent-color);
}

.header-link.underline::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header-contacts-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-contacts-list .link:hover,
.header-contacts-list .link:focus {
  color: var(--main-accent-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}

.header-contacts {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  display: flex;
  align-items: center;
}

.header-contacts + .header-contacts {
  margin-left: var(--project-item-gap);
}

.header-mail,
.header-tel {
  transition: color 250ms var(--timing-function);
}

.header-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
}

/* --------------------------Heroe/ Banner/ order a service ------------------------------------------------ */
.order-service {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/decore/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.order-service-title {
  /* margin-top: 0; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.order-service-btn {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--second-button-color);
  border-color: transparent;
  align-self: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--second-button-color);
  /* cursor: pointer; */
}

.order-service-btn:active,
.order-service-btn:focus {
  color: var(--main-title-color);
}

/* -------------------Our Features----------------------------- */
.features {
  padding-bottom: 0;
}

.features-title {
  display: none;
}

.features-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-item {
  width: 270px;
}

.features-item-title {
  /* margin-top: 0; */
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-section);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* -----------------specialities----------- */
.specialities-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-item-gap));
  margin-top: calc(-1 * var(--project-item-gap));
}

.specialities-item {
  flex-basis: calc(100% / 3 - var(--project-item-gap));
  margin-left: var(--project-item-gap);
  margin-top: var(--project-item-gap);
  position: relative;
  /* top: 0;
  left: 0; */
}

/* --- */
.specialities-item-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.specialities-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* -------------Our Team--------------- */
.team {
  background-color: var(--background-section);
}

.team-list {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: calc(-1 * var(--project-item-gap));
  margin-top: calc(-1 * var(--project-item-gap));
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-item {
  background-color: var(--secondary-background-color);
  outline: 1px solid var(--card-border-color);
  border-radius: 4px;
  margin-top: var(--project-item-gap);
  margin-left: var(--project-item-gap);
}

.team-person {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
  color: var(--social-network-main-color);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.team-social-link:hover,
.team-social-link:focus {
  color: var(--social-network-accent-color);
  background-color: var(--main-accent-color);
}

.team-social-icon {
  fill: currentColor;
}

/* OUR CLIENTS  */
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-network-main-color);
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}

.clients-item + .clients-item {
  margin-left: var(--project-item-gap);
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-network-main-color);
  transition: color 250ms var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--main-accent-color);
}

.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--main-accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* ----------------------------------------------------Footer----------------------------------------------- */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/*------------------------------------------------------ contact links---------------------------------------- */
.footer-address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
  transition: color 250ms var(--timing-function);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--main-title-color);
}

/*--------------------------------------------------------logo------------------------------------------------*/
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /*--------------------------------------------add negative word-spacing to bring letters together----------*/
  word-spacing: -5px;
}

.footer-contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-web {
  color: var(--main-accent-color);
}

.footer-studio {
  color: var(--main-title-color);
}

/* --------------- */
.footer-links {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

/* ---- */
.footer-social {
  display: flex;
  flex-direction: column;
  /* margin-left: 70px; */
  /* padding-top: 12px; */
}

.footer-social-title {
  margin-bottom: 20px;
  color: var(--main-title-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--social-network-accent-color);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--main-title-color);
  background-color: var(--main-accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

/* ----------------------footer--email--form--------------- */
.footer-email-send {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-email-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.footer-email-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  /* outline: none; */
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
}

.footer-email-input::-moz-placeholder {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-input:-ms-input-placeholder {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email-input::placeholder {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  align-self: center;
  border-radius: 4px;
  border: 1px solid var(--second-button-color);
  border-color: transparent;
  transition: box-shadow 250ms var(--timing-function);
  margin-left: 12px;
  background-color: var(--second-button-color);
}

.footer-icon-send {
  margin: 13px 8px 13px 10px;
}

.footer-btn:focus,
.footer-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*--------------- MODAL WINDOW------------ */
.backdrop {
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* when backdrop is hidden then modal takes these properties */
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  /* min-width: 500px;
  min-height: 500px; */
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--main-accent-color);
}

/* ----------------------FORM------------------- */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  /* margin-top: 40px; */
  /* margin-left: 39px; */
  margin-bottom: 12px;
  /* margin-right: 41px; */
}

.modal-form {
  width: 448px;
  /* outline: 1px solid blue; */
  /* margin-left: auto;
  margin-right: auto; */
  /* padding: 0; */
}

.form-field {
  display: flex;
  flex-direction: column;
  /* outline: 1px solid green; */
  margin-bottom: 10px;
  position: relative;
}

.form-field:last-child {
  margin-bottom: 0;
}

/* --------reset the styles --------- */
.form-field input {
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* outline: none; */
.form-field label {
  margin-bottom: 4px;
  color: #757575;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-input-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  /* margin: 11px 12px; */
  background-color: transparent;
  position: absolute;
  /* top: 40px; */
  top: 50%;
  left: 12px;
  /* outline: 1px solid tomato; */
  transition: fill 250ms var(--timing-function);
}

/* ~ choses all the neighbours below with the tag or selector; + the next neighbour */
.modal-form-input:hover ~ .modal-form-input-icon,
.modal-form-input:focus ~ .modal-form-input-icon {
  fill: var(--main-accent-color);
}

/* when form-field is focused apply styles to child: .modal-form-input-icon*/
.form-field:focus-within > .modal-form-input-icon {
  fill: var(--main-accent-color);
}

.form-field:focus-within > .modal-form-input {
  border: 1px solid var(--main-accent-color);
  outline: none;
}

.form-field textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  width: 448px;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  /* margin-bottom: 0; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border-color: var(--main-accent-color);
}

/* ---------------------custom checkbox-------------------- */
.form-checkbox {
  /* outline: 1px solid teal; */
  display: flex;
  width: 425px;
  align-items: center;
  justify-content: center;
  margin: 20px 11px 30px 14px;
}

.form-checkbox-input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid var(--title-color);
  margin-right: 7px;
}

.form-checkbox-input:checked + .form-checkbox-icon {
  background-color: var(--second-button-color);
  background-image: url(../images/decore/checked.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  border: 1px solid var(--second-button-color);
}

.form-checkbox-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.form-checkbox-link {
  text-decoration: underline;
  color: var(--main-accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Button */
.modal-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 40px; */
}

.form-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  align-self: center;
  border-radius: 4px;
  border: 1px solid var(--second-button-color);
  border-color: transparent;
  transition: box-shadow 250ms var(--timing-function);
  margin-left: 12px;
  background-color: var(--second-button-color);
}

.form-send-btn:focus,
.form-send-btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ------------------------------------------------Filters-------------------------------------------- */
.filters-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--first-button-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.filters-btn:hover,
.filters-btn:focus,
.filters-btn:active {
  color: var(--main-title-color);
  background-color: var(--second-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

/*------------------------------------------Portfolio: Projects---------------------------------------- */
.portfolio-title {
  display: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--project-item-gap));
  margin-top: calc(-1 * var(--project-item-gap));
}

.projects-item {
  flex-basis: calc(100% / 3 - var(--project-item-gap));
  margin-left: var(--project-item-gap);
  margin-top: var(--project-item-gap);
  outline: 1px solid var(--card-border-color);
  background-color: var(--secondary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* overflow: hidden; */
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-overlay {
  position: relative;
  top: 0;
  left: 0;
  /* hides excess overlay */
  overflow: hidden;
}

.projects-img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.projects-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects-text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  overflow: auto;
}

.projects-content {
  padding: 20px 24px;
}

/* verlay & text  */
.projects-item-description {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  /* unlike display we can add animation to opacity   */
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

/* при ховере на projects-item примени на ..description эти стили */
.projects-item:hover .projects-item-description,
.projects-item:focus .projects-item-description {
  opacity: 1;
  transform: translateY(0);
}

.projects-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-align: left;
  width: 370px;
  height: auto;
  padding: 63px 24px;
}/*# sourceMappingURL=main.css.map */